body {
    margin: 0;
}

.wrapper {
    width: 400px;
    height: 300px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 400px;
    height: 300px;
    background-color: #FFF;
    padding: 10;
    position: relative;
}


.draggable {
    padding: 10px;
    background-color: cyan;
    width: 60px;
    z-index: 2;
    position: absolute;
    touch-action: none;
}

.draggable:nth-child(2) {
    top: 100px;
}

.draggable:nth-child(3) {
    top: 200px;
}

.dropzone {
    width: 100%;
    padding: 20% 0;
    text-align: center;
    background: #F4F4F4;
    position: absolute;
    bottom: 0;
    color: gray;
}

/* .parent{overflow: hidden;margin-top:50px;}
            
.child{width:200px;height: 150px;float: left;margin-left:20px;border:1px solid #000;
       text-align:center;line-height:150px;cursor: pointer;background-color:#ddd;}

.bak{ background-color: red; color: #fff; font-weight:bold; } */

.active {
    background-color: green;
    color: white;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: none;
  }

  .visible {
      display: inline-block;
  }